<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>

	<connectionStrings>

		<add name = "cn" connectionString = " Data Source = LAPTOP-LO9O0L3V\SQLEXPRESS ; Initial Catalog = Muzica; Integrated Security= True" />


	</connectionStrings>

	<startup>

		<supportedRuntime version = "v4.0" sku = ".NETFramework,Version=v4.7.2" />

	</startup>

	<appSettings>

		<add key = "selectParent" value = "Select * from Album" />

		<add key = "selectChild" value = "Select * from Piesa where id_album= @id_parent" />

		<add key = "ChildColumnNames" value = "nume,artist" />

		<add key = "InsertQuery" value = "INSERT INTO Piesa(nume, artist, id_album) VALUES(@nume,@artist, @id_parent)" />

		<add key = "UpdateQuery" value = "UPDATE Piesa SET nume=@nume, artist=@artist WHERE id=@id_child" />

		<add key = "DeleteQuery" value = "DELETE FROM Piesa WHERE id=@id_child" />

	</appSettings>



</configuration>